# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.exe
*.dll
*.so
*.o
*.a



# Ignore Software Structure folder
software_structure/

